<header id="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/img/logo.svg" width="55" alt="WibuCode">
                WibuCode
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="ti-menu"></div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kategori
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/categories/">Front End</a>
                            <a class="dropdown-item" href="/categories/">Back End</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/categories/">More</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/project">Project <i class="fas fa-folder-open"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonials">Testimonials <i class="fas fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://saweria.co/hanz0">Donate <i class="fas fa-heart"></i></a>
                    </li>
                </div>
                <div class="navbar-nav ml-auto">
                    <form class="input-group">
                        <input type="text" class="form-control" placeholder="Search..">
                        <div class="input-group-append">
                            <button class="btn btn-search"><i class="ti-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>

