<head>

   <!-- Meta tag super SEO -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <title>Wibucode</title>
   <meta content="Forum Programmer Dan UI/UX Designer" name="description" />
   <meta content="Wibucode,Komunitas Programmer,Mgodonf" name="keywords" />
   <link rel="canonical" href="https://wibucode.com" />
   <meta property="og:locale" content="en_US" />
   <meta property="og:title" content="Wibucode" />
   <meta property="og:type" content="Website" />
   <meta property="og:url" content="https://wibucode.com" />
   <meta property="og:site_name" content="Wibucode" />
   <meta property="og:image" content="https://1.bp.blogspot.com/-g29yXZocQ-I/X8RFC7vW_VI/AAAAAAAAC6s/ik4hjECCIqAQ0YTqBo2F9xSmrdUXAF_bgCLcBGAsYHQ/s320/website%2Bimage.png" />
   <meta name="google-site-verification" content="JdGyATti1eAnFEkxB5rB6wKn8fIT_qfBJTh8vFzfhI8" />

   <!-- Meta color -->
   <meta name="theme-color" content="#388794">
   <meta name="msapplication-TileColor" content="#388794">

    <!-- App favicon -->
    <link rel="shortcut icon" href="https://1.bp.blogspot.com/-RaAEnhFOA5E/X9JiNykL35I/AAAAAAAAC7c/BtbHr69RT08YWo7DLekez2GB_ZF-hl2ugCLcBGAsYHQ/s225/Logo-wibucode.png">
    
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/themify-icons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>