{{ define "main" }}

<div class="wrapper mb-5">
    <div class="container">
        <section class="artikel" id="artikel">
            <div class="container">
                <div class="section-header text-center">
                    <h1> {{ .Title }} </h1>

                </div>
                <div class="section-body">
                    <div class="row">
                        <div class="col">
                            {{ if eq .Title "Tags" }}
                            {{ range sort .Site.Taxonomies.tags }}
                            <a href="{{ .Page.Permalink }}" class="m-1 btn btn-info">{{ .Page.Title }}<span
                                    class=" badge badge-warning">{{ .Count }}</span> </a>
                            {{ end }}
                            {{ else if eq .Title "Categories" }}
                            {{ range sort .Site.Taxonomies.categories }}
                            <a href="{{ .Page.Permalink }}" class="m-1 btn btn-info">{{ .Page.Title }}<span
                                    class=" badge badge-warning">{{ .Count }}</span> </a>
                            {{ end }}
                            {{ else if eq .Title "Topik" }}
                            {{ range sort .Site.Taxonomies.topik }}
                            <a href="{{ .Page.Permalink }}" class="m-1 btn btn-info">{{ .Page.Title }}<span
                                    class=" badge badge-warning">{{ .Count }}</span> </a>
                            {{ end }}
                            {{ else if eq .Title "Bahasa" }}
                            {{ range sort .Site.Taxonomies.bahasa }}
                            <a href="{{ .Page.Permalink }}" class="m-1 btn btn-info">{{ .Page.Title }}<span
                                    class=" badge badge-warning">{{ .Count }}</span> </a>
                            {{ end }}
                            {{ end }}


                        </div>




                        <div class="artikel-pagination">

                        </div>
                    </div>



                </div>
            </div>
        </section>
    </div>
</div>

{{end}}